{{ if isset .Site.Params "datasources" }}
{{ if .Site.Params.datasources.enable }}
{{ if gt (len .Site.Data.datasources) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
        {{ range sort .Site.Data.datasources }}
            <div class="row">
                <div class="col-md-4">                
                    <div class="box-simple">
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3>{{ .name }}</h3>
                    </div>                
                </div>
                <div class="col-md-4">
                    <div class="datasource-description">
                        <p>{{ .description }}</p>
                    </div>
                </div>                                
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}